<form [formGroup]="transferFormGroup" (ngSubmit)="transfer()">
  <md-select placeholder="Make a transfer to" formControlName="accountId" class="full-width margin-bottom-x2 margin-top-x2">
    <md-option *ngFor="let personWithAccount of peopleWithAccounts" [value]="personWithAccount.accountId">
      {{personWithAccount.title}}
    </md-option>
  </md-select>

  <md-input-container class="full-width margin-bottom-x1">
    <input mdInput type="text" placeholder="How many €" formControlName="amount" autocomplete="off">
  </md-input-container>

  <button type="submit" md-button [disabled]="!transferFormGroup.valid" class="full-width margin-bottom-x2">Send</button>
</form>
