<div fxLayout="column" fxFill>
  <md-toolbar color="primary">
    <button md-icon-button (click)="toggleSidenav()">
      <md-icon>menu</md-icon>
    </button>

    Bank

    <div fxFlex></div>

    <md-select [(ngModel)]="language" (change)="setLanguage(language)">
      <md-option *ngFor="let l of languages" [value]="l">{{ l }}</md-option>
    </md-select>
  </md-toolbar>

  <md-sidenav-container fxFlex (backdrop-clicked)="closeSidenav()">
    <md-sidenav [opened]="(ui$ | async).isSidenavVisible" mode="side">
      <app-accounts></app-accounts>
    </md-sidenav>

    <router-outlet></router-outlet>

  </md-sidenav-container>
</div>
