<div class="account">
  <div fxFlex="70%">
    <button md-fab [routerLink]="['./transfer']" class="transfer">
      <md-icon>payment</md-icon>
    </button>

    <app-account-summary></app-account-summary>

    <app-operations [operations]="operations$ | async"></app-operations>
  </div>

  <div fxFlex="30%">
    <router-outlet></router-outlet>
  </div>
</div>
